<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Laform.mapper.DeepMapper">

<select id = "getDeepP" resultType="int">
select count(*) from tb_deep where label=1 and deep_source=#{deep_source}
</select>

<select id = "getDeepN" resultType="int">
select count(*) from tb_deep where label=0 and deep_source=#{deep_source}
</select>

</mapper>